:root {
  --color-primary: #086cf9;
  --color-green: #2f9b44;
  --color-red: #fd000f;
  --color-black: #000;
  --color-dark-gray: #404040;
  --color-light-gray: #a5a5a5;
  --color-border-gray: #eaeaea;
  --color-primary-background: #f6f6f8;
  --color-secondary-background: #f5f7f8;
  --gradient-primary: linear-gradient(#1d7bff, #0066f8);
  --gradient-info: linear-gradient(#009dff, #0a8eff);
  --gradient-warning: linear-gradient(#ff9d00, #ffb40a);
  --gradient-dark: linear-gradient(#646464, #4a4a4a);
  --header-top-height: 6.4em;
  --header-main-height-big: 8.4em;
  --header-main-height-small: 5.4em; }

@font-face {
  font-family: "dashoard-icons";
  src: url("../fonts/dashoard-icons.eot?7xzlv2");
  src: url("../fonts/dashoard-icons.eot?7xzlv2#iefix") format("embedded-opentype"), url("../fonts/dashoard-icons.ttf?7xzlv2") format("truetype"), url("../fonts/dashoard-icons.woff?7xzlv2") format("woff"), url("../fonts/dashoard-icons.svg?7xzlv2#dashoard-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "dashoard-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-eye-open:before {
  content: "\e946"; }

.icon-eye-closed:before {
  content: "\e947"; }

.icon-burger:before {
  content: "\e945"; }

.icon-camera:before {
  content: "\e944"; }

.icon-fullscreen-enter:before {
  content: "\e941"; }

.icon-fullscreen-exit:before {
  content: "\e942"; }

.icon-cog-full:before {
  content: "\e943"; }

.icon-cog:before {
  content: "\e91f"; }

.icon-shield-circle:before {
  content: "\e92f"; }

.icon-bell:before {
  content: "\e940"; }

.icon-search:before {
  content: "\e93f"; }

.icon-question:before {
  content: "\e926"; }

.icon-exit:before {
  content: "\e93e"; }

.icon-git-pull:before {
  content: "\e93d"; }

.icon-question-circle:before {
  content: "\e900"; }

.icon-document:before {
  content: "\e902"; }

.icon-chat:before {
  content: "\e903"; }

.icon-chart-column:before {
  content: "\e939"; }

.icon-company-circle:before {
  content: "\e901"; }

.icon-users-circle:before {
  content: "\e904"; }

.icon-archive:before {
  content: "\e905"; }

.icon-arrow-right:before {
  content: "\e906"; }

.icon-arrow-left:before {
  content: "\e907"; }

.icon-arrow-down:before {
  content: "\e908"; }

.icon-arrow-up:before {
  content: "\e909"; }

.icon-calendar:before {
  content: "\e90a"; }

.icon-chart-area:before {
  content: "\e90b"; }

.icon-chart-bar:before {
  content: "\e90c"; }

.icon-chart-line:before {
  content: "\e90d"; }

.icon-chart-pie:before {
  content: "\e90e"; }

.icon-check-circle:before {
  content: "\e90f"; }

.icon-arrow-circle-up:before {
  content: "\e910"; }

.icon-arrow-circle-down:before {
  content: "\e911"; }

.icon-arrow-circle-right:before {
  content: "\e912"; }

.icon-arrow-circle-left:before {
  content: "\e913"; }

.icon-check-circle-full:before {
  content: "\e914"; }

.icon-exclamation-circle:before {
  content: "\e915"; }

.icon-plus-circle-full:before {
  content: "\e916"; }

.icon-refresh-circle-full:before {
  content: "\e917"; }

.icon-compare:before {
  content: "\e918"; }

.icon-crown:before {
  content: "\e919"; }

.icon-give-feedback:before {
  content: "\e91a"; }

.icon-minus-outlined:before {
  content: "\e91b"; }

.icon-plus-outlined:before {
  content: "\e91c"; }

.icon-cog-outlined:before {
  content: "\e91d"; }

.icon-expand-outlined:before {
  content: "\e91e"; }

.icon-chevron-left-outlined:before {
  content: "\e920"; }

.icon-chevron-up-outlined:before {
  content: "\e921"; }

.icon-chevron-down-outlined:before {
  content: "\e922"; }

.icon-chevron-right-outlined:before {
  content: "\e923"; }

.icon-close-outlined:before {
  content: "\e924"; }

.icon-ellipsis:before {
  content: "\e925"; }

.icon-chevron-left:before {
  content: "\e927"; }

.icon-chevron-right:before {
  content: "\e928"; }

.icon-chevron-up:before {
  content: "\e929"; }

.icon-chevron-down:before {
  content: "\e92a"; }

.icon-check:before {
  content: "\e92b"; }

.icon-close:before {
  content: "\e92c"; }

.icon-bubble:before {
  content: "\e92d"; }

.icon-bin:before {
  content: "\e92e"; }

.icon-caret-left:before {
  content: "\e930"; }

.icon-caret-right:before {
  content: "\e931"; }

.icon-caret-up:before {
  content: "\e932"; }

.icon-caret-down:before {
  content: "\e933"; }

.icon-shield:before {
  content: "\e934"; }

.icon-star:before {
  content: "\e935"; }

.icon-users:before {
  content: "\e936"; }

.icon-thumbs-down:before {
  content: "\e937"; }

.icon-thumbs-up:before {
  content: "\e938"; }

.icon-time:before {
  content: "\e93a"; }

.icon-user:before {
  content: "\e93b"; }

.icon-user-check:before {
  content: "\e93c"; }

button {
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  outline: none; }

input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

textarea {
  font-size: inherit;
  font-family: inherit;
  resize: none;
  outline: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: none; }

html {
  font-size: 62.5%;
  height: 100vh; }

body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-size: 1rem; }

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-rows: auto 1fr;
  background-color: #f6f6f8; }

.header {
  position: relative;
  grid-area: header;
  padding-top: var(--header-top-height);
  position: relative;
  transition: padding-top 0.5s ease-in-out; }
  .header-buttons {
    position: absolute;
    top: 1.4em;
    right: 2.2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    margin-left: auto;
    z-index: 100;
    transition: top 0.3s ease-in-out;
    animation: fade-in-out-2 0.5s ease-in-out; }
    .header-buttons > *:not(:last-of-type) {
      margin-right: 2em; }
    .header-buttons-settings i, .header-buttons-help i, .header-buttons-notifications i {
      font-size: 2em;
      color: #5c6f83;
      transition: color 0.5s ease-in-out; }
    .header-buttons-initials {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      width: 1.912568306em;
      height: 1.912568306em;
      font-size: 1.83em;
      font-weight: 700;
      letter-spacing: 0.09px;
      color: #ffffff;
      background-color: #ffce00;
      border-radius: 50%; }
  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    padding-left: 1.85em;
    padding-right: 2.2em;
    height: 6.4em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    transition: transform 0.5s ease-in-out; }
    .header-top-logo {
      padding-right: 1.2em;
      border-right: solid 1.5px #e4e8ec; }
      .header-top-logo-img {
        width: 4em;
        height: 4em; }
    .header-top-input-container {
      position: relative;
      margin-left: 1.5em;
      width: 48.1em;
      height: 4em; }
      .header-top-input-container input {
        padding-left: 2.7027027027em;
        width: 100%;
        height: 100%;
        font-size: 1.48em;
        font-weight: 400;
        line-height: 1.15;
        background-color: #f0f1f2;
        border: 0;
        border-radius: 5px; }
        .header-top-input-container input::placeholder {
          color: #58626e; }
      .header-top-input-container i {
        position: absolute;
        top: 50%;
        left: 0.8em;
        font-size: 1.75em;
        color: #7c858f;
        transform: translate(0, -50%); }
  .header-main {
    padding-left: 1.85em;
    padding-right: 2.2em;
    height: 8.4em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    background-image: linear-gradient(to right, #2a7bfa 1%, #1a68eb 99%);
    transition: height 0.5s ease-in-out, padding-top 0.5s ease-in-out; }
    .header-main-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      color: #fff; }
      .header-main-info-icon {
        margin-right: 1.95em; }
        .header-main-info-icon i {
          font-size: 2.4em; }
      .header-main-info-title {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.56px;
        color: #ffffff; }
  .header-nav {
    padding: 0 4.4em;
    height: 5.4em;
    background-color: #fff;
    border-bottom: 1px solid #e4e8ec;
    z-index: 50; }
    .header-nav-list {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      list-style: none; }
      .header-nav-list-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        height: 100%;
        position: relative;
        cursor: pointer; }
        .header-nav-list-item:not(:last-of-type) {
          margin-right: 3.6em; }
        .header-nav-list-item-text {
          font-size: 12.8px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.18;
          letter-spacing: normal;
          text-align: left;
          color: #404040;
          text-align: center; }
        .header-nav-list-item:hover .header-nav-list-item-text {
          font-weight: 500; }
        .header-nav-list-item .header-nav-list-item-text::before {
          display: block;
          content: attr(text);
          font-weight: 500;
          height: 0;
          overflow: hidden;
          visibility: hidden; }
        .header-nav-list-item.active .header-nav-list-item-text {
          font-weight: 600;
          color: #000; }
        .header-nav-list-item.active .header-nav-list-item-text::before {
          display: block;
          content: attr(text);
          font-weight: 600;
          height: 0;
          overflow: hidden;
          visibility: hidden; }
        .header-nav-list-item svg {
          display: none;
          position: absolute;
          bottom: -2.1em;
          left: 50%;
          transform: translate(-50%, 0);
          width: 2.3em;
          height: 1.5em;
          z-index: 0; }
        .header-nav-list-item.active svg {
          display: block; }
  .header-sub-nav {
    margin: 1.6em 4.4em 0;
    padding: 0 2.5em;
    height: 52px;
    border-radius: 6px;
    border: solid 1px #e4e8ec;
    background-color: #ffffff;
    z-index: 100; }
    .header-sub-nav-list {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      list-style: none; }
      .header-sub-nav-list-item {
        cursor: pointer; }
        .header-sub-nav-list-item:not(:last-of-type) {
          margin-right: 3.6em; }
        .header-sub-nav-list-item-text {
          font-size: 12.8px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.18;
          letter-spacing: normal;
          text-align: left;
          color: #404040;
          text-align: center; }
        .header-sub-nav-list-item:hover .header-sub-nav-list-item-text {
          font-weight: 500; }
        .header-sub-nav-list-item .header-sub-nav-list-item-text::before {
          display: block;
          content: attr(text);
          font-weight: 500;
          height: 0;
          overflow: hidden;
          visibility: hidden; }
        .header-sub-nav-list-item.active .header-sub-nav-list-item-text {
          font-weight: 600;
          color: #000; }
        .header-sub-nav-list-item.active .header-sub-nav-list-item-text::before {
          display: block;
          content: attr(text);
          font-weight: 600;
          height: 0;
          overflow: hidden;
          visibility: hidden; }
  .header.small {
    padding-top: 0; }
    .header.small .header-buttons {
      top: 0.95em;
      animation: fade-in-out 0.5s ease-in-out; }
      .header.small .header-buttons-settings i, .header.small .header-buttons-help i, .header.small .header-buttons-notifications i {
        color: #fff; }
    .header.small .header-top {
      transform: translate(0, -100%); }
    .header.small .header-main {
      height: 5.4em; }

.content-wrapper {
  grid-area: content;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */ }
  .content-wrapper::-webkit-scrollbar {
    /* WebKit */
    width: 0; }

.content-card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(206, 206, 206, 0.16);
  border: solid 1px #e4e8ec;
  background-color: #ffffff; }

#home .header-nav {
  display: none; }
#home .header-sub-nav {
  display: none; }
#home .content {
  padding: 3.8em;
  padding-left: 0;
  padding-right: 0;
  margin-left: 2em;
  margin-right: 2em;
  width: 100%;
  max-width: 82.5em;
  margin: 0 auto; }
  #home .content-card {
    padding: 3em 3em 3.5em; }
    #home .content-card:not(:last-of-type) {
      margin-bottom: 2em; }
    #home .content-card .content-card-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      #home .content-card .content-card-header-title {
        font-size: 2.25em;
        font-weight: 600;
        letter-spacing: -0.17px;
        color: var(--color-black); }
      #home .content-card .content-card-header .more {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        width: 2.7em;
        height: 2.7em;
        background-color: rgba(186, 186, 186, 0.15);
        border-radius: 50%; }
        #home .content-card .content-card-header .more i {
          font-size: 1.662em;
          color: #818181; }
    #home .content-card-input-container {
      position: relative;
      width: 32.6em;
      height: 3.6em; }
      #home .content-card-input-container input {
        padding-left: 2.2857142857em;
        padding-right: 1.0714285714em;
        width: 100%;
        height: 100%;
        font-size: 1.4em;
        font-weight: 400;
        letter-spacing: -0.07px;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(206, 206, 206, 0.16);
        border: solid 1px #e4e8ec; }
        #home .content-card-input-container input::placeholder {
          color: #77819b; }
      #home .content-card-input-container i {
        position: absolute;
        top: 50%;
        left: 1.4rem;
        font-size: 1.25em;
        color: #adadad;
        transform: translate(0, -50%); }
    #home .content-card.my-teams .content-card-header {
      margin-bottom: 2.4em; }
    #home .content-card.my-teams .content-card-main {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
    #home .content-card.my-teams .color-card {
      margin-bottom: 1.5em;
      width: 49%;
      padding: 1.1em 1.8em 1.7em 1.5em;
      border-radius: 9px; }
      #home .content-card.my-teams .color-card-subtitle {
        font-size: 1.29em;
        font-weight: 500;
        line-height: 1.17;
        color: #ffffff; }
      #home .content-card.my-teams .color-card-title {
        margin-bottom: 0.6em;
        font-size: 2em;
        font-weight: 600;
        letter-spacing: -0.1px;
        color: #ffffff; }
      #home .content-card.my-teams .color-card-buttons {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
        #home .content-card.my-teams .color-card-buttons .more {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          width: 2.57em;
          height: 2.57em;
          background-color: rgba(255, 255, 255, 0.25);
          border-radius: 50%; }
          #home .content-card.my-teams .color-card-buttons .more i {
            font-size: 1.58em;
            color: #fff; }
        #home .content-card.my-teams .color-card-buttons .next i {
          font-size: 2.43em;
          color: #fff; }
      #home .content-card.my-teams .color-card.green {
        background: linear-gradient(to bottom, #2bcc46, #2bba43 118%); }
      #home .content-card.my-teams .color-card.orange {
        background: linear-gradient(to bottom, #ffbe36, #ffa700); }
    #home .content-card.my-people {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0; }
      #home .content-card.my-people .content-card-header {
        margin-bottom: 2em;
        padding-left: 3em;
        padding-right: 3em; }
      #home .content-card.my-people .content-card-input-container {
        margin-left: 3em;
        margin-right: 3em; }
      #home .content-card.my-people .content-card-main {
        overflow: 0;
        position: relative;
        padding-left: 2.75em;
        padding-right: 2.75em;
        overflow: hidden; }
        #home .content-card.my-people .content-card-main .people-arrow {
          position: absolute;
          top: 3.2em;
          z-index: 200; }
          #home .content-card.my-people .content-card-main .people-arrow i {
            font-size: 2em;
            color: #dedede; }
          #home .content-card.my-people .content-card-main .people-arrow.right {
            right: 1.5em; }
          #home .content-card.my-people .content-card-main .people-arrow.left {
            left: 1.5em; }
        #home .content-card.my-people .content-card-main .people {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          padding-top: 3.1em;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: start;
          -ms-flex-align: start;
          -webkit-align-items: flex-start;
          -moz-align-items: flex-start;
          align-items: flex-start;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          overflow: hidden;
          transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out; }
          #home .content-card.my-people .content-card-main .people.active {
            position: sticky;
            opacity: 1;
            visibility: visible;
            left: 0;
            z-index: 100;
            transition: opacity 0.7s ease-in-out 0.3s, visibility 0.7s ease-in-out 0.3s; }
          #home .content-card.my-people .content-card-main .people .person {
            width: 12.5em;
            margin-bottom: 3.4em;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -moz-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center; }
            #home .content-card.my-people .content-card-main .people .person-main {
              margin-bottom: 0.6em;
              position: relative; }
              #home .content-card.my-people .content-card-main .people .person-main-img {
                width: 7.25em;
                height: 7.25em;
                object-fit: contain;
                border-radius: 16px; }
              #home .content-card.my-people .content-card-main .people .person-main-icon {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                justify-content: center;
                position: absolute;
                top: 0;
                right: 0;
                width: 2.8em;
                height: 2.8em;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                border: solid 1px #f5f5f5;
                background-color: #ffffff;
                border-radius: 50%;
                transform: translate(45%, -45%); }
                #home .content-card.my-people .content-card-main .people .person-main-icon .icon-thumbs-up {
                  font-size: 1.56em;
                  color: #00be20; }
                #home .content-card.my-people .content-card-main .people .person-main-icon .icon-exclamation-circle {
                  font-size: 1.56em;
                  color: #f52600; }
                #home .content-card.my-people .content-card-main .people .person-main-icon .ok {
                  font-size: 1.2em;
                  font-weight: 700;
                  letter-spacing: -0.24px;
                  color: #ff8900; }
            #home .content-card.my-people .content-card-main .people .person-info {
              width: 12em;
              text-align: center;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
              #home .content-card.my-people .content-card-main .people .person-info-name {
                margin-bottom: 0.1304347826em;
                font-size: 1.15em;
                font-weight: 500;
                color: #13284a;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
              #home .content-card.my-people .content-card-main .people .person-info-position {
                padding: 0 1em;
                font-size: 1.05em;
                font-weight: 400;
                letter-spacing: -0.03px;
                color: #7a869a;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
    #home .content-card.my-feedback .content-card-header {
      margin-bottom: 1.2em; }
    #home .content-card.my-feedback .content-card-main {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      #home .content-card.my-feedback .content-card-main .progress {
        padding-top: 2em;
        padding-bottom: 2.2em;
        width: 49%;
        border-bottom: 1px solid #efefef; }
        #home .content-card.my-feedback .content-card-main .progress:nth-last-of-type(1) {
          border-bottom: 0; }
        #home .content-card.my-feedback .content-card-main .progress:nth-last-of-type(2) {
          border-bottom: 0; }
        #home .content-card.my-feedback .content-card-main .progress-header {
          margin-bottom: 0.9em;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          -moz-justify-content: space-between;
          justify-content: space-between; }
          #home .content-card.my-feedback .content-card-main .progress-header-title {
            font-size: 1.43em;
            font-weight: 600;
            line-height: 1.19;
            letter-spacing: -0.04px;
            color: #313c4b; }
          #home .content-card.my-feedback .content-card-main .progress-header-amount {
            font-size: 1.43em;
            font-weight: 600;
            line-height: 1.19;
            color: #24a238; }
        #home .content-card.my-feedback .content-card-main .progress-bar {
          width: 100%;
          height: 1.5em;
          border-radius: 3.5px;
          background-color: #ecf0f6; }
          #home .content-card.my-feedback .content-card-main .progress-bar-fill {
            height: 100%;
            background-color: var(--color-green);
            border-top-left-radius: 3.5px;
            border-bottom-left-radius: 3.5px; }

@keyframes slide-in-right {
  from {
    transform: translate(-100%, 0); }
  to {
    transform: translate(0, 0); } }
@keyframes slide-in-left {
  from {
    transform: translate(100%, 0); }
  to {
    transform: translate(0, 0); } }
@keyframes slide-out-right {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(100%, 0); } }
@keyframes slide-out-left {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-100%, 0); } }
@keyframes fade-in-out {
  from {
    opacity: 1;
    visibility: visible; }
  50% {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }
@keyframes fade-in-out-2 {
  from {
    opacity: 1;
    visibility: visible; }
  50% {
    opacity: 0;
    visibility: hidden; }
  to {
    opacity: 1;
    visibility: visible; } }
